@font-face {
  font-family: 'InkFree';
  src: url('InkFree.svg#InkFree') format('svg'),
       url('InkFree.ttf') format('truetype'),
       url('InkFree.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inkfree';
  src: url('Inkfree.eot');
  src: url('Inkfree.eot?#iefix') format('embedded-opentype'),
       url('Inkfree.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

